.title__info{
color: #555555;
font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 20pt;
margin-left: auto;
margin-right: auto;
padding: 0px 0px 2% 0px;
width: 100%;
}