.container__names{
    font-size: 25pt;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 0px 0px 0px 18%;
}