.container__names{
    font-size: 25pt;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    border-bottom: 3px dotted white;
	padding: 0px 0px 2% 0px;
 }
