.title__end {
color: #bbbbbb;
font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 350;
font-size: 40px;
font-stretch: extra-condensed;
margin-left: auto;
margin-right: auto;
width: 100%;
}