
	    div{
		float:left;
		background-color:white; color:white}
		
		.red{
		background-color:red}
	    
		.black{
		background-color:black} 

		.green{
		background-color: green
		}

		.regular{
		height:50px; width:50px}

		.long{
		height:50px; width:150px
		}
	
		.high{
		height:100px; width:50px	
		}
		
		.big{
		height:100px; width:100px}

		.large{
		height:150px; width:150px
		}

		.thebiggestone{
		height:200px; width:200px
		}
		
		.red:hover{
		background-color:blue}
		
		.black:hover{
		background-color:orange}	
		
		.green:hover{
		background-color: yellow;
		}
		